.novoProduto {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #2c3e50;
    margin: 0 auto;
    margin-bottom: 20px;
}

.todosOsProdutos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(250px, auto);
}

.todosOsProdutos .produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todosOsProdutos .produto img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.todosOsProdutos .produto h3 {
    color: #2c3e50;
    font-size: 16px;
    margin-bottom: 10px;
}

.todosOsProdutos .produto p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #7f8c8d;
}

.todosOsProdutos .produto .precoProduto {
    font-size: 18px;
    color: #3498db;
    font-weight: bold;
}

.deleteBtn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

.deleteBtn:hover {
    color: darkred;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #2c3e50;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    border-color: #3498db;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #2980b9;
}

.error {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
}

@media (max-width: 1024px) {
    .todosOsProdutos {
        grid-template-columns: repeat(2, 1fr);
    }

    .novoProduto,
    .listaDeProdutos {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .todosOsProdutos {
        grid-template-columns: 1fr;
    }
}
