@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
    --cor-primaria: rgb(17, 86, 102);
}

* {
    box-sizing: border-box;
    outline: 0;
    font-family: "Montserrat", Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: var(--cor-primaria);
    font-family: Montserrat;
    font-size: 0.8em;
    line-height: 1em;
}

.container {
    max-width: 95%;
    margin: 40px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    display: block;
    justify-content: center;
}
.tituloPrincipal {
    size: 10px;
}

.cpf {
    display: flex;
    justify-content: center;
}

.mensagemInformaCpf {
    
    font-size: 30px;
}

.informaCpf {
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 60px;
}

#inputCPF {
    width: 95%;
    font-size: 40px;
}

.btnConferir{
    width: 90px;;
    
}