@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --cor-primaria: rgb(17, 86, 102);
}

* {
    box-sizing: border-box;
    outline: 0;
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    background: var(--cor-primaria);
    font-family: "Oswald", monospace;
    line-height: 1em;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 4px;
}
